/* common css start  */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}
.contaner{
    width: 1400px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.inner_contaner{
    width: 80%;
    margin: auto;
    
}
.writing_contaner{
    width: 70%;
    margin: auto;
    
}
.w-50{
    width: 50%;
}
.w-75{
    width: 75%;
    background: #e8e5ee;
}
.w-25{
    width: 25%;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
}

/* common css end  */
/* bannar section start  */
#bannar{
    background-image: url(../Img/bannar.jpg);
    height: 616px;
    background-position: top;
    background-repeat: no-repeat;
}

#bannar .main_hadeline{
    text-align: center;
}
#bannar .main_hadeline h2{
    color: #c445ac;
    font-size: 50px;
    font-weight: 300;
}
#bannar .main_hadeline h1 {
    color: #ffff;
    font-size: 80px;
    font-weight: 700;
}
#bannar .inner_contaner{
    padding: 50px;
}
/* bannar section end*/
/* main img section start  */
#main_img_and_info{
    text-align: center;
}
#main_img_and_info img {
    transform: translateY(-50%);
    text-align: center;
}
#main_img_and_info .main_line{
    color: #3e2a3e;
    font-size: 30px;
    font-weight: 400;
    padding: 80px 0 0 0;
    letter-spacing: 10px;
    text-align: center;
}
#main_img_and_info .letter {
    color: #3e2a3e;
    font-size: 20px;
    font-weight: 300;
    padding: 40px 0 20px;
    text-align: center;
}
#main_img_and_info .web{
    color: #3e2a3e;
    font-size: 20px;
    font-weight: 300;
    padding: 200px 0 0 0;
    text-align: left;
}
/* main img section end  */
/* form section start  */
.section_item #f_range h3{
    color: #ffff;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
}
.section_item #f_range{
    width: 300px;
    background: #1b2b3a;
    height: 400px;
    border-radius: 10px;
    justify-items: center;
    margin-top: 300px;

    
}
.section_item  #f_range .input_box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10px;
    flex-direction: column;
    gap: 5px;
    position: relative; 
    width: 250px;
    font-size: 20px;
}
.section_item #f_range .input_box  input{
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: #1b2b3a;
    border-radius: 5px;
    color: aliceblue;
    margin-left: 50px;
    margin-top: 20px;
    transition: .5s;
}
.section_item #f_range  span{
    position: absolute;
    left: 20px;
    top: 17px;
    padding: 10px;
    pointer-events: none;
    text-transform: uppercase;
    transition: .5s;
    color: rgba(255, 255, 255, 0.25);
    
}
.section_item #f_range .input_box input:valid ~ span,
.section_item #f_range .input_box input:focus ~ span{
    color: #00dfc4;
    transform: translateX(10px) translateY(-3px);
    font-size: 10px;
    padding: 0 10px;
    background: #1b2b3a;
    border-left: 1px solid#00dfc4;
    border-right: 1px solid#00dfc4;
    letter-spacing: 2px;
}
.section_item #f_range .input_box input:valid,
.section_item #f_range .input_box input:focus{
    border: 1px solid #00dfc4;
}
/* form section end  */


